@{
    ViewData["Title"] = "Calendar";
}

<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">Teamets semester</h3>     
    </div>
    <div class="block-content">
        <div id="calendar"></div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_FullCalendarScriptsPartial");
    }
}